################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/lab_5/v17/.wsuo
/555555/.vs/555555/FileContentIndex/62a46466-1c7f-4652-9146-196fe3fc7b7e.vsidx
/555555/555555/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
